<footer>
	<div class="footer-content">
    <p>2024~ My Garage Lab. All copyright reserved.</p>
		<div class="social-links">
			<a class="github" href="https://github.com/gurbur" target="_blank" rel="noopener noreferrer">
					<img src="https://img.shields.io/badge/GitHub-181717.svg?&style=for-the-badge&logo=GitHub&logoColor=white" alt="GitHub Badge">
			</a>
		</div>

    <address class="contact">
			Contact: <a href="mailto:jihwan7577@gmail.com">jihwan7577@gmail.com</a>
    </address>
	</div>
</footer>
