<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }} - My Garage Lab | 밑바닥부터 만드는 개발 블로그</title>
		<meta charset="utf-8" />
		<meta name="author" content="gurbur" />
		<meta
				name="description"
				content="My Garage Lab is blog for learning and testing computer science knowledges of my own." />
		<meta name="keywords" content="개발 블로그, C, java, 서버 개발, 회고">

		<meta property="og:type" content="website">
		<meta property="og:url" content="https://blog.gurbur.dev/">
		<meta property="og:title" content="My Garage Lab">
		<meta property="og:description" content="밑바닥부터 시작하는 나만의 개발 실험실">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
				onload="renderMathInElement(document.body, {
						delimiters: [
								{left: '$$', right: '$$', display: true},
								{left: '$', right: '$', display: false}
						]
				});">
		</script>
		<link rel="stylesheet" href="{{ base_url }}/static/css/style.css">
	</head>
	<body>
		{{ component:header }}
		{{ component:nav }}
		{{ content }}
		{{ component:footer }}
	</body>
</html>
